extends layout
block page_content
	div#start
		div#error.alert.alert-danger
			strong Code Invalide :  
			span#errorContain
		h3 Enter a code :
		div#loading.alert.alert-info Loading... 
		div#ready
			div.input-group
				span.input-group-addon Code :
				input#code.form-control(type="text", placeholder="")
				span.input-group-btn
					button#submiteCode.btn.btn-default(type="button") Valider
		div#connect.alert.alert-info
			strong Info :  
			span#connectContain Waiting game for start You are connected to :
	div#game
		div#inputZone
	link(href="/css/mobile.css", rel="stylesheet")
	script(src="/js/mobile/gyro.js")
	script(src="/socket.io/socket.io.js")
	script(src="/js/mobile/inputManager.js")
	script(src="/js/mobile/game.js")
	script(src="/js/mobile/socketConfig.js")
	script(src="/js/mobile/windowInit.js")
	//- script(src="/js/mobile/socketMobile.js")
	//- script(src="/js/mobile/socketMobile.js")
	//- script(src="/js/mobile/socketMobile.js")
