extends layout

block page_content
	div#loading.alert.alert-info Loading...
	div#start
		h1 Code :
		h3#roomId
		button#launch.btn.btn-success(type="button") Launch Game !
	div#game
		canvas#gameCanvas
	link(href="/css/rooms.css", rel="stylesheet")
	script(src="/socket.io/socket.io.js")
	script(src="/js/client/Game/vectorClass.js")
	script(src="/js/client/Game/canvasClass.js")
	script(src="/js/client/Game/eyesClass.js")
	script(src="/js/client/Game/sheepClass.js")
	script(src="/js/client/Game/sheepManager.js")
	script(src="/js/client/Game/rayClass.js")
	script(src="/js/client/game.js")
	script(src="/js/client/socketConfig.js")
	script(src="/js/client/windowInit.js")
